.container {
    padding: 25px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    display: flex;
    align-items: center;
}

#play-icon {
    width: 70px;
    height: 70px;

    margin-right: 15px;
}

#controlador {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    padding: 5px;

    border: solid 2px black;
    border-radius: 50px;
    box-shadow: -2px 4px #EEE;

    width: 800px;
}

#controlador midi-player {
    width: 400px;
}

#controlador midi-player::part(control-panel) {
    background-color: #FFF;
}

#controlador midi-player::part(time) {
    font-size: 16px;
}

#controlador midi-player::part(play-button) {
    width: 35px;
    height: 35px;

    background-color: #2F4362;
    color: #FFF;

    transition: background-color 0.25s;
}

#controlador midi-player::part(play-button):hover {
    background-color: #CCC;
    cursor: pointer;
}

#select {
    display: flex;
    align-items: center;
    justify-content: center;
}

#selecionar-visualizador {
    width: 200px;

    font-size: 16px;

    padding: 5px;

    border: solid 2px #000;
    border-radius: 50px;

    transition: background-color 0.25s;
}

#selecionar-visualizador:hover {
    cursor: pointer;
}

#visualizador {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 800px;
    height: 250px;
}

midi-visualizer {
    width: inherit;
    overflow: auto;
}

#rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 800px;

    padding: 10px
}

.icon-voltar {
    width: 80%;
    height: 80%;
}

a {
    width: 50px;
    height: 50px;

    border-radius: 100%;

    transition: background-color 0.25s;

    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    background-color: #eeeeee;
}
  
#escolher-arquivo-midi {
    width: 200px;

    border-radius: 4px;
    background-color: #2F4362;
    box-shadow: -2px 4px #EEE;

    font-size: 18px;
    color: #FFF;

    padding: 6px;

    transition: background-color 0.25s;
}

#escolher-arquivo-midi:hover {
    background-color: lightgrey;
    cursor: pointer;
    box-shadow: none;
}


