.container {
  margin: 0;
  padding: 0;
  
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}
