.container {
  padding: 50px;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-icon {
  width: 70px;
  height: 70px;

  margin-right: 10px;
}

section {
  margin-top: 25px;
  box-shadow: 2px 2px #ccc;
  border-radius: 2px;
}

section p,
ul {
  padding: 10px;
  font-size: 18px;
  line-height: 170%;
}

.section-title {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

.section-icon {
  width: 40px;
  height: 40px;

  margin-right: 10px;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: right;

  margin-top: 20px;
}

a {
  width: 50px;
  height: 50px;

  border-radius: 100%;

  transition: background-color 0.25s;

  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  background-color: #eeeeee;
}

.icon-voltar {
  width: 80%;
  height: 80%;
}

ul {
  display: flex;
  flex-direction: column;

  margin-left: 40px;
}
