.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  padding: 25px;
}

#rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
}

#title img {
  width: 80px;
  height: 80px;

  padding: 10px;
}

input {
  border: solid 2px #000;
  border-radius: 4px;

  font-size: 20px;

  padding: 4px;

  box-shadow: -2px 4px #EEE;
}

#caminho {
  margin-right: 10px;
}


/* Estilizacao do toggleButton */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
  margin-left: 12px;

  font-size: 18px;
}

form img {
  width: 60px;
  height: 60px;

  padding: 5px;

  margin-left: 10px;
}

form div {
  display: flex;
  align-items: center;

  margin: 10px;
}

form p {
  margin-left: 10px;

  font-size: 20px;
}

a {
  width: 50px;
  height: 50px;

  border-radius: 100%;

  transition: background-color 0.25s;

  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  background-color: #eeeeee;
}

.icon-voltar {
  width: 100%;
  height: 100%;

  margin-right: 10px;
}

.btn {
  border: solid 2px #000;
  border-radius: 4px;

  background-color: #2F4362;

  font-size: 20px;
  color: #FFF;

  box-shadow: -2px 4px #EEE;

  padding: 4px;
}

.btn:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#btn-escolher-arquivo {
  transition: background-color 0.25s;
}

#btn-converter {
  width: 175px;

  transition: background-color 0.25s;
}
