.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 80px;
}

.rodape {
  margin-top: -150px;

  display: flex;
  align-items: center;
  justify-content: start;

  padding: 50px;
}

#title {
  font-size: 30px;
}

a {
  width: 50px;
  height: 50px;

  border-radius: 100%;

  transition: background-color 0.25s;

  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  background-color: #eeeeee;
}

.icon-voltar {
  width: 60%;
}

.icon-voltar {
}
