.container {
  padding: 50px;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#question-icon {
  width: 70px;
  height: 70px;
}

.section-title {
  display: flex;
  align-items: center;

  padding: 10px;
}

.section-icon {
  width: 40px;
  height: 40px;

  margin-right: 10px;
}

#p-title {
  padding: 20px;
}

section {
  margin-top: 25px;
  box-shadow: 3px 3px #DDD;
  border-radius: 5px;
}

section p {
  padding: 10px;

  font-size: 18px;
  line-height: 170%;
  text-indent: 2em;
}

h3 {
  padding: 5px;
}

code {
  background-color: #EEE;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0px 3px;
}

#parametros {
  display: none;

  padding: 20px;
}

#transformacao-dados {
  display: none;

  padding: 20px;
}

#img-normalizacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 1.5px #EEE;

  margin-bottom: 10px;
}

figcaption {
  padding-bottom: 5px;

  font-size: 14px;
}

#campos-entrada {
  display: none;

  padding: 20px;
}

.arrow-sign {
  width: 22px;
  height: 22px;

  margin-left: 10px;

  transition: background, border-radius, padding 0.25s;
}

.arrow-sign:hover {
  background: #EEE;
  border-radius: 100%;
  padding: 2px;
}

.rodape {
  margin-top: 20px;
}

a {
  width: 50px;
  height: 50px;

  border-radius: 100%;

  transition: background-color 0.25s;

  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  background-color: #eeeeee;
}

.icon-voltar {
  width: 80%;
  height: 80%;
}

ul {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  line-height: 170%;

  margin-left: 40px;
  padding: 5px;

  list-style: circle;
}
