.container {
    padding: 28px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#question-icon {
    width: 70px;
    height: 70px;
}

.section-title {
    display: flex;
    align-items: center;

    padding: 10px;
}

.section-icon {
    width: 40px;
    height: 40px;

    margin-right: 10px;
}

section {
    margin-top: 25px;
    box-shadow: 2px 2px #CCC;
    border-radius: 2px;
}

section p, ul {
    padding: 10px;
    font-size: 18px;
    line-height: 170%;
}

h3 {
    padding: 5px;
}

#parametros {
    display: none;

    padding: 15px;
}

#transformacao-dados {
    display: none;

    padding: 15px;
}

#img-normalizacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

#campos-entrada {
    display: none;
}

.arrow-sign {
    width: 20px;
    height: 20px;

    margin-left: 10px;
}

.rodape {
    margin-top: 20px;
}

a {
    width: 50px;
    height: 50px;

    border-radius: 100%;

    transition: background-color 0.25s;

    display: flex;
    justify-content: center;
    align-items: center;
}
  
a:hover {
    background-color: #eeeeee;
}
  
.icon-voltar { 
    width: 80%;
    height: 80%;
}
